$orange : #eb5d11;
$red : #e23b3b;
$white : #fff;
$familyCarter: 'Carter One', cursive;
$familyRoboto: 'Roboto';

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    box-shadow: 0px 25px 20px -20px rgba(235, 93, 17, 0.45), 25px 0 20px -20px rgba(235, 93, 17, 0.45);
    width: 140px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    float: left;
    background-color: $white;

    @media screen and (max-width: 1100px) {
        box-shadow: none;
    }

    @media screen and (max-width: 850px) {
        height: auto;
        position: fixed absolute;
        z-index: 9999;
        top: 0;

    }

    &>a#burger {
        display: block;
        margin: 10px 0 0 15px;
        padding: 15px;
        line-height: 50px;

        &>img#logo {
            width: 70px;

            @media screen and (max-width: 400px) {
                width: 50px;
            }

        }
    }

    nav#main-menu {
        display: block;

        ul {
            list-style: none;

            li {
                margin: 15px auto;
                padding: 15px 0;
                width: 60px;
            }

            .menu img {
                width: 50px;

                @media screen and (max-width: 400px) {
                    width: 40px;
            
                }
            }
        }

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    nav#main-menu.active {
        display: block;

    }
}

// SECTIONS 

main {
    padding-left: 14%;

    @media screen and (max-width: 850px) {
        padding: 0;
    }

    &>section#admin-search-bar {
        margin: 0 50px 30px 30px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100px;
        background-color: $white;
        
        @media screen and (max-width: 470px) {
            margin-right: 10px;
        }


        &>form {
            @media screen and (max-width: 850px) {
                position: relative;
                left: 260px;
            }

            @media screen and (max-width: 750px) {
                position: relative;
                left: 210px;
            }

            @media screen and (max-width: 600px) {
                position: relative;
                left: 140px;
            }

            @media screen and (max-width: 470px) {
                position: absolute;
                left: 180px;
            }

            @media screen and (max-width: 350px) {
                position: absolute;
                left: 100px;
            }


            &>input[type="search"] {
                height: 30px;
                border: none;
                border-bottom: 1px solid $red;
                padding: 10px;
                font-size: 18px;
                letter-spacing: 2px;
                outline: 0;

                @media screen and (max-width: 470px) {
                    width: 200px;
                    
                }

                @media screen and (max-width: 400px) {
                    width: 200px;
                }
            }

            &>button {
                position: relative;
                z-index: 9999;
                top: 5px;
                left: -35px;
                width: 30px;
                border: none;
                background-color: $white;
                cursor: pointer;

                &>img {
                    width: 18px;
                }

                @media screen and (max-width: 470px) {
                    position: absolute;
                    left: 170px;
                }

                @media screen and (max-width: 400px) {
                    position: absolute;
                    left: 150px;
                }
            }
        }

        &>span {
            font-family: $familyCarter;

            @media screen and (max-width: 850px) {
                display: none;
            }

        }

        &>:last-child {
            color: #e23b3b;

            @media screen and (max-width: 850px) {
                display: block;
            }

            @media screen and (max-width: 470px) {
                position: absolute;
                top: 75px;
                left: 320px;
                z-index: 99999;
            }

            @media screen and (max-width: 400px) {
                position: absolute;
                top: 75px;
                left: 300px;
                z-index: 99999;
            }

            @media screen and (max-width: 350px) {
                position: absolute;
                left: 240px;
            }
        }

    }

    // CSS NEW POST ET EDIT 

    &>section.new-post {
        &>form {
            width: fit-content;

            &>fieldset.manga-info {
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-content: center;
                width: fit-content;
                padding: 30px;
                border: 1px solid $red;
                color: $orange;
                font-family: $familyCarter;

                label {
                    justify-self: end;
                    margin-right: 10px;
                }

                &>select {
                    margin-bottom: 10px;
                    color: $orange;
                    font-family: $familyCarter;
                    border: 1px solid $red;
                    width: fit-content;
                }

                &>input {
                    padding: 2px;
                    border: 1px solid $red;
                    margin-bottom: 10px;
                    height: 25px;
                }

                &>textarea {
                    padding: 2px;
                    border: 1px solid $red;
                    width: max-content;
                    resize: none;
                }
            }

            &>input[type=submit],
            &>input[type=reset],
            &>a {
                color: $orange;
                font-family: $familyCarter;
                border: 1px solid $red;
                border-radius: 15px 0 15px 0;
                cursor: pointer;
                background-color: $white;
                padding: 10px 15px;
                margin: 10px;
                float: right;
                font-size: 1.1rem;
            }
        }
    }

    // CSS LIST MANGA

    &>section#list-manga {
        margin-left: 30px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;

        @media screen and (max-width: 850px) {
            margin: 0;
            padding: 0;
        }

        &>h1 {
            margin: 10px;
            font-family: $familyCarter;
            border-radius: 10px;
            text-align: center;
        }

        &>div.list {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            padding: 20px 0;
            border-radius: 5px;

            &:hover {
                border-radius: 5px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            &>p {
                font-family: $familyCarter;
                color: $orange;
            }

            &>div.placement {
                &>ul#menu-list {
                    width: inherit;
                    display: flex;
                    justify-content: space-evenly;

                    &>li {
                        padding-left: 20px;

                        &>a {
                            &>img {
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    // CSS POP UP DELETE

    &>div.modal {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9999;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgb(71, 78, 93, 50%);
        padding-top: 50px;

        &>div.modal-content {
            width: 400px;
            margin: 15% auto 15% auto;
            background-color: #fefefe;
            text-align: center;
            padding: 16px;
            padding-bottom: 20px;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &>h1 {
                font-size: 1.1rem;
                font-weight: 100;
                display: block;
                margin-bottom: 30px;
                color: $orange;
                font-family: $familyCarter;
            }

            &>a.btn {
                font-family: $familyCarter;
                margin-right: 30px;
                padding: 5px;
                font-size: 1rem;
                display: inline-block;
                color: #222;
            }

            &>a.btn:hover {
                color: $white;
                background-color: $orange;
                border-radius: 10px 0 10px 0;
                text-decoration: none;

            }
        }
    }
}