$familyTitle: 'Carter One', cursive;
$falilyTxt: 'Roboto', sans-serif;
$black : #0C0C0C;

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header {
    overflow: auto;
    box-shadow: 0px 25px 20px -20px rgba(235, 93, 17, 0.45), 25px 0 20px -20px rgba(235, 93, 17, 1);
    #icon {
        display: flex;
        justify-content: space-between;
        position: relative;
        a {
            img {
                width: 70px;
                height: 60px;
                margin: 10px 0;
                &:hover{
                    transform: scale(0.8);
                }
            }
        }
    }
    .search-container {
        display: flex;
        justify-content: center;
    
        form {
    
            input[type="search"] {
                padding: 18px 0 10px 10px;
                border: 2px solid #EB5D11;
                border-right: 0px;
                border-radius: 5px;
                width: calc(100% - 80px);
                border-radius: 25px 0 0 0;
                margin-bottom: 10px;
            }
    
            button[type="submit"] {
                background-color: white;
                color: white;
                border: none;
                width: 70px;
                padding: 11px 10px 10px 10px;
                border-radius: 0 0 25px 0;
                margin-left: -10px;
                cursor: pointer;
                border: 2px  solid #EB5D11;
                border-left: 0px;
    
                img {
                    height: 20px;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    
    }
}
@media screen and (min-width: 600px) {
    header {
     #icon {
            #logo {
                position: relative;
                &::after{
                    content: "KITSUTHEQUE";
                    font-family: $familyTitle;
                    color: $black;
                    font-weight: 900;
                    position: absolute;
                    top: 40%;
                    left: 120%;
                    font-size: 0.8rem;
                }
            }
              #catalogue {
             position: absolute ;
             left: 75%;
             
         }
                
        
     }
     form {
        position: absolute;
        left: 30%;
        top:2%;
     }
    } 
 }

 @media screen and (min-width: 1000px)  {
    header {
        form {
            left: 30%;
            width: 30%;
        }
    }
 }
 