$orange : #eb5d11;
$red : #e23b3b;
$white : #fff;
$black : #0C0C0C;
$familyCarter: 'Carter One', cursive;
$familyRoboto: 'Roboto';

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    box-shadow: 25px 0 20px -20px rgba(235, 93, 17, 0.45);
    width: 140px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0px;
    float: left;
    background-color: $white;

    @media screen and (max-width: 1100px) {
        box-shadow: none;
    }

    @media screen and (max-width: 850px) {
        height: auto;
        position: fixed absolute;
        z-index: 9999;
        top: 0;

    }


    &>a#burger {
        display: block;
        margin: 10px 0 0 15px;
        padding: 15px;
        line-height: 50px;

        &>img#logo {
            width: 70px;

            @media screen and (max-width: 520px) {
                width: 60px;
            }

        }
    }

    nav#main-menu {
        display: block;

        ul {
            list-style: none;

            li {
                margin: 15px auto;
                padding: 15px 0;
                width: 60px;
            }

            .menu img {
                width: 50px;

                @media screen and (max-width: 400px) {
                    width: 40px;

                }
            }
        }

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    nav#main-menu.active {
        display: block;

    }
}

// CSS SECTIONS 

main {
    padding-left: 14%;

    @media screen and (max-width: 850px) {
        padding: 0;
    }

    // CSS BARRE DE RECHERCHE ADMIN

    &>section#admin-search-bar {
        margin: 0 50px 30px 30px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding: 30px 10px;
        height: 100px;
        background-color: $white;

        @media screen and (max-width: 850px) {
            margin: 0;
            margin-bottom: 50px;
        }

        @media screen and (min-width: 850px) {
            margin-left: 50px;
            margin-bottom: 50px;
        }

        @media screen and (max-width: 520px) {
            margin-left: 30px;
            margin-bottom: 50px;
        }


        &>form {
            @media screen and (max-width: 850px) {
                position: relative;
                left: 260px;
            }

            @media screen and (max-width: 750px) {
                position: relative;
                left: 210px;
            }

            @media screen and (max-width: 600px) {
                position: relative;
                left: 140px;
            }

            @media screen and (max-width: 520px) {
                position: absolute;
                top: 70px;
                left: 120px;
            }


            &>input[type="search"] {
                height: 30px;
                border: none;
                border-bottom: 1px solid $red;
                padding: 10px;
                font-size: 18px;
                letter-spacing: 2px;
                outline: 0;

                @media screen and (max-width: 470px) {
                    width: 200px;

                }

                @media screen and (max-width: 400px) {
                    width: 150px;
                }
            }

            &>input::placeholder {
                @media screen and (max-width: 400px) {
                    font-size: medium;

                }
            }

            &>button {
                position: relative;
                z-index: 9999;
                top: 5px;
                left: -35px;
                width: 30px;
                border: none;
                background-color: $white;
                cursor: pointer;

                &>img {
                    width: 18px;
                }

                @media screen and (max-width: 470px) {
                    position: absolute;
                    left: 170px;
                }

                @media screen and (max-width: 400px) {
                    position: absolute;
                    left: 120px;
                }
            }
        }

        &>span {
            font-family: $familyCarter;
            color: $orange;

            @media screen and (max-width: 850px) {
                display: none;
            }

        }

        &>:last-child {
            color: #e23b3b;

            @media screen and (max-width: 850px) {
                display: block;
                margin-right: 10px;
            }

            @media screen and (max-width: 520px) {
                margin: 0;
                position: absolute;
                top: 20px;
                left: 120px;
                z-index: 99999;
            }
        }
    }

    // CSS NEW POST ET EDIT 

    &>section.new-post {
        &>form {
            width: fit-content;

            &>fieldset.manga-info {
                display: grid;
                grid-template-columns: 1fr 2fr;
                justify-content: center;
                width: fit-content;
                padding: 30px;
                border: 1px solid $red;
                color: $orange;
                font-family: $familyCarter;
                background-color: $white;

                @media screen and (max-width: 520px) {
                    display: flex;
                    flex-direction: column;
                }

                label {
                    justify-self: end;
                    margin-right: 10px;
                }

                &>select {
                    margin-bottom: 10px;
                    color: $orange;
                    font-family: $familyCarter;
                    border: 1px solid $red;
                    width: fit-content;
                }

                &>input {
                    padding: 2px;
                    border: 1px solid $red;
                    margin-bottom: 10px;
                    height: 25px;
                }

                &>textarea {
                    padding: 2px;
                    border: 1px solid $red;
                    width: max-content;
                    resize: none;
                }
            }

            &>input[type=submit],
            &>input[type=reset],
            &>a {
                color: $orange;
                font-family: $familyCarter;
                border: 1px solid $red;
                border-radius: 15px 0 15px 0;
                cursor: pointer;
                background-color: $white;
                padding: 10px 15px;
                margin: 10px;
                float: right;
                font-size: 1.1rem;
            }

            &>fieldset.cat-info {
                margin-left: 50px;
                display: grid;
                grid-template-columns: 60% 40%;
                justify-content: center;
                width: 300px;
                padding: 30px;
                border: 1px solid $red;
                color: $orange;
                font-family: $familyCarter;
                background-color: $white;

                @media screen and (max-width: 850px) {
                    margin-left: 150px;
                }

                @media screen and (max-width: 520px) {
                    margin-left: 75px;
                }

                @media screen and (max-width: 400px) {
                    margin-left: 45px;
                }

                @media screen and (max-width: 320px) {
                    margin-left: 20px;
                }

                @media screen and (max-width: 300px) {
                    margin: 0;
                }

                &>label {
                    justify-self: end;
                    margin: 5px;
                }

                &>input {
                    margin: 5px;
                }
            }

            &>fieldset.send-img {
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 350px;
                padding: 20px;
                border: 1px solid $red;
                color: $orange;
                font-family: $familyCarter;
                background-color: $white;

                @media screen and (max-width: 850px) {
                    margin-left: 150px;
                }

                @media screen and (max-width: 520px) {
                    margin-left: 75px;
                }

                @media screen and (max-width: 400px) {
                    margin-left: 45px;
                }

                @media screen and (max-width: 370px) {
                    margin: 0;
                    

                }

                &>label {
                    justify-self: end;
                    margin: 5px;
                }

                &>input {
                    margin: 5px;
                }

            }
        }
    }

    // CSS LIST MANGA

    &>section#list-manga {
        margin-left: 30px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        @media screen and (max-width: 850px) {
            margin: 0;
            padding: 0;
            box-shadow: none;
        }

        &>h1 {
            margin: 10px;
            font-family: $familyCarter;
            border-radius: 10px;
            text-align: center;
        }

        &>div.list {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            padding: 20px 0;
            border-radius: 5px;

            &:hover {
                border-radius: 5px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

            &>p {
                font-family: $familyCarter;
                color: $orange;
                display: inline-block;
            }

            &>p:first-child {
                width: 100px;
            }

            &>p:last-child {
                width: 50px;
            }

            &>div.placement {
                &>ul#menu-list {
                    width: inherit;
                    display: flex;
                    justify-content: space-evenly;

                    @media screen and (max-width: 490px) {
                        display: flex;
                        justify-content: space-between;
                    }

                    &>li {
                        padding-left: 20px;

                        &>a {
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;

                            &>img {
                                width: 25px;

                                @media screen and (max-width: 490px) {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // CSS POP UP DELETE

    &>div.modal {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9999;
        left: 0;
        top: 0;
        background-color: rgb(71, 78, 93, 50%);
        padding-top: 50px;

        &>div.modal-content {
            width: 400px;
            margin: 15% auto 15% auto;
            background-color: #fefefe;
            text-align: center;
            padding: 16px;
            padding-bottom: 20px;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            @media screen and (max-width: 350px) {
                position: absolute;
                left: 120px;
            }

            &>h1 {
                font-size: 1.1rem;
                font-weight: 100;
                display: block;
                margin-bottom: 30px;
                color: $orange;
                font-family: $familyCarter;
            }

            &>a.btn {
                font-family: $familyCarter;
                margin-right: 30px;
                padding: 5px;
                font-size: 1rem;
                display: inline-block;
                color: #222;
            }

            &>a.btn:hover {
                color: $white;
                background-color: $orange;
                border-radius: 10px 0 10px 0;
                text-decoration: none;
            }
        }
    }

    // CSS MESSAGE SUCCESS & ERROR1/2

    div.success,
    div.error {
        position: absolute;
        top: 0;
        left: 250px;
        z-index: 9999;
        transform: translateX(-50%);
        width: 300px;
        height: 100px;
        color: $red;
        font-family: $familyCarter;
        border-radius: 25px;
        transform: translateY(100%);
        animation: 3s ease-in 1s disappear;
        opacity: 0;

        @keyframes disappear {
            0% {
                opacity: 0;
            }

            25% {
                opacity: 1
            }

            50% {
                opacity: 1
            }

            100% {
                opacity: 0;
            }
        }
    }
}

/*phone reservation*/

#listReserv {
    .row-limit-size {
        h1 {
            text-align: center;
            font-family: $familyCarter;
            padding: 50px 0;
            color: $black;
        }

        .listReserv {
            width: 200px;
            margin: 0 auto;

            ul {
                padding-bottom: 10px;

                li {
                    font-family: $familyRoboto;
                    color: $black;
                    font-weight: 600;

                    span {
                        font-weight: 100;
                    }
                }
            }

            form {
                padding-bottom: 30px;

                input {
                    padding: 10px;
                    color: $black;
                    background-color: #fff;
                    border: 2px solid $orange;
                    font-family: $familyCarter;
                    border-radius: 25px 0;
                    cursor: pointer;
                   

                    &:hover {
                        background-color: $orange;
                        color: #fff;
                    }
                }

            }

        }
    }
}

@media screen and (min-width: 500px) {
    #listReserv .row-limit-size {

        .listReserv {

            width: 300px;
        }
    }

}

/*list reserve desktop*/

@media screen and (min-width: 800px) {
    #listReserv .row-limit-size {
        h1 {
            text-align: left;
        }

        .listReserv {
            margin: unset;

        }
    }

}

/*loan phone*/
#loan {
    .row-limit-size {
        form {
            fieldset {
                border: 2px solid $orange;
                width: 90%;
                max-width: 500px;
                margin: 0 auto;

                legend {
                    color: $black;
                    font-family: $familyCarter;
                    font-family: 1rem;
                }

                div {
                    padding: 10px;

                    label {
                        font-family: $familyRoboto;
                        font-weight: 500;
                    }

                    input[type="number"] {
                        border: 1px solid $orange;
                    }
                }

            }

            input[type="submit"],
            input[type="reset"] {
                padding: 10px;
                color: $black;
                background-color: #fff;
                border: 2px solid $orange;
                font-family: $familyCarter;
                font-size: 1rem;
                border-radius: 25px 0;                
                margin: 10px 10px 50px 20px;
                padding: 10px 20px;
                cursor: pointer;

                &:hover {
                    background-color: $orange;
                    color: #fff;
                }
            }
        }
        a {
            font-family: $familyCarter;
            font-size: 1rem;
            color: $black;
            display: block;
            width: 165px;
            margin: 0 auto;
            
            &:hover{
                color: $orange;
            }
        }

        h1 {
            text-align: center;
            font-family: $familyCarter;
            padding: 50px 0;
            color: $black;
        }


        #listLoan {

            width: 90%;
            max-width: 500px;
            margin: 0 auto;

            ul {
                margin-bottom: 10px;
                border: 2px solid $orange;
                padding: 20px 20px 10px;

                li {
                    font-family: $familyRoboto;
                    color: $black;
                    font-weight: 600;
                    padding-bottom: 10px;

                    span {
                        font-weight: 100;
                    }
                }
            }

        }
    }
}

/*tablet loan*/
@media screen and (min-width: 500px) {
    #loan .row-limit-size {
        form fieldset {
            margin: unset;
            margin-left: 20px;

        }

        h1 {
            text-align: left;
            margin-left: 20px;
        }
        a{
            margin: unset;
            margin-left: 20px;
        }
        #listLoan {

            margin: unset;
            margin-left: 20px;

            ul {
                margin-bottom: 10px;

                

                li {
                    font-family: $familyRoboto;
                    color: $black;
                    font-weight: 600;

                    span {
                        font-weight: 100;
                    }
                }
            }

        }

    }
}