    // Définition des variables
    $familyTitle: 'Carter One', cursive;
    $falilyTxt: 'Roboto', sans-serif;
    $black : #0C0C0C;
    $red : #BF1818;
    $orange : #EB5D11;

    // Réinitialisation des styles par défaut
    *,
    ::before,
    ::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    // Limitation de la largeur de la page
    .row-limit-size {
        max-width: 1200px;
        width: 100%;
    }

    header {
        box-shadow: #EB5D11 0px 0px 0px 3px;

        // Conteneur principal de l'en-tête
        #container {
         
            .logo, .titre-logo,.search, .connexion, .cataloge{
                display: flex;
            }
            .logo {
                float: left;
                margin: 30px;
                cursor: pointer;

            }

            // Titre du logo
            .titre-logo {
                color: $red;
                font-family: $familyTitle;
                margin-top: 20px;
               
            }

            // Liens de connexion et de catalogue
            .connexion,
            .cataloge {
                float: right;
                margin: 30px;
                cursor: pointer;
            }

            // Barre de recherche
            .search-container {
                display: flex;
                justify-content: center;
                padding: 50px;
            
                form {
            
                    input[type="text"] {
                        padding: 18px 0 10px 10px;
                        border: 2px solid #EB5D11;
                        border-radius: 5px;
                        width: calc(100% - 80px);
                        border-radius: 25px 0 0 0;
                        margin-bottom: 10px;
                    }
            
                    button[type="submit"] {
                        background-color: white;
                        color: white;
                        border: none;
                        width: 70px;
                        padding: 10px;
                        border-radius: 0 0 25px 0;
                        margin-left: -10px;
                        cursor: pointer;
                        border: 2px solid #EB5D11;
            
                        img {
                            height: 20px;
                        }
                    }
                }
            
            }
            
        }

        }
      
        
       

        // Styles pour le pied de page

        /*******phone********/
        // Styles pour les écrans de petite taille
        @media screen and (max-width: 630px) {

            #container {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: space-evenly;
                .logo{
                    .titre-logo{
                        display: none;
                    }
                }
                
                

            }
            
            
        
        }